<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cms.canteen.foodmanagementapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.cms.canteen.foodmanagementapp.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cms.canteen.foodmanagementapp.MainActivity"
            android:label="@string/title_activity_welcome"
            android:theme="@style/AppTheme" />
        <activity android:name="com.cms.canteen.foodmanagementapp.SignIn"
            />
        <activity android:name="com.cms.canteen.foodmanagementapp.SignUp" />
        <activity
            android:name="com.cms.canteen.foodmanagementapp.Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme" />
        <activity android:name="com.cms.canteen.foodmanagementapp.FoodList" />
        <activity android:name="com.cms.canteen.foodmanagementapp.FoodDetail" />
        <activity android:name="com.cms.canteen.foodmanagementapp.Cart"></activity>
    </application>

</manifest>